@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.search-form {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
  font-family: 'Orbitron', sans-serif;
}

.city-input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  background: transparent;
  border: 1px solid #0ff;
  border-radius: 4px;
  /* color: #fff; */
  outline: none;
}

.search-button {
  background: transparent;
  border: 2px solid #0ff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  text-shadow: 0 0 5px #0ff, 0 0 10px #00f;
}

.search-button:hover {
  background: #0ff;
  color: #000;
  text-shadow: none;
  transform: scale(1.05);
}
